@charset "utf-8";

.middle .like{margin-bottom: 64px;border-top: 1px solid lightgray;}
.middle .like span{font-size: 20px;color: #211f1f;margin-left: 18px;margin-bottom: 25px;margin-top: 25px;display: block;}
.middle .like ul{margin-right: -14px;clear: both;overflow: hidden;}
.middle .like ul li{float: left;margin-right: 10px;}